body {
    background-color: rgb(44, 73, 83);
    font-family: Arial;
    color: rgb(2, 32, 35);
}

h1 {
    text-align: center;
    font-size: 30px;
}

p {
    font-size: 18px;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    background-color: rgb(229, 186, 220);
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    background-color: rgb(4, 4, 4);
}
